client/build
client/TCE-RelayClient_local.db
server/config.py
server/config.pyc
servertools/*/config.pyc
servertools/*/config.py
servertools/eddb-import/*.csv
servertools/eddn-connect/*.log
tcetools/*/*.db
tcetools/*/*.json